<p class="md-body-1">
Биллинг — важнейший компонент деятельности любого коммерческого оператора связи, вне зависимости от вида телекоммуникаций: операторы фиксированной и мобильной связи, интернет-телефонии, виртуальные операторы, интернет-провайдеры, операторы транзитного цифрового трафика, провайдеры цифрового телевидения — не могут существовать без биллинга, благодаря которому выставляются счета потребителям их услуг и обеспечивается экономическая составляющая их деятельности.
</p>
<p class="md-body-1">
Для биллинговых систем в телекоммуникациях в русском языке также используется термин автоматизированная система расчётов (АСР), в частности такой термин использован в официальных документах Министерства связи России, предписывающих обязательную сертификацию биллинговых систем[3].
</p>